<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfrors2Qa06inK_nymw0m2qfflJ43FwiE</string>
	<key>GCM_SENDER_ID</key>
	<string>772695510581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nguyenvantuan.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f5394</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f5394.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772695510581:ios:3358a69050f6c18ab8ab7c</string>
</dict>
</plist>